<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href ="static/style.css">
        <title></title>
          </head>



          <body>


<div class="card">
            <div class= "card_content">
                <div class= "card_front">
                    <h1 class= "card_title">{{tracks}}</h1>
                        <p class= "card_subtitle">{{artists}}</p>
                        <audio controls>
                            <source src="{{Audio}}">
                        </audio>
                        <a class="lyric" href= "{{songLyric}}"> click here to view lyrics</a>
                        <img src="{{images}}"/>
                </div>
            </div>
</div>

    
</body>

</html>