<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href ="static/style.css">
        <title></title>
          </head>



          <body>


<div class="card">
            <div class= "card_content">
                <div class= "card_front">{{songImage}}
                    <h1 class= "card_title">{{songName}}</h1>
                        <p class= "card_subtitle">{{artistName}}</p>
                        <audio controls>
                            <source src="{{songPreview}}">
                        </audio>
                        <a class="lyric" href= "{{songLyric}}"> click here to view lyrics</a>
                        <img src="{{Artwork}}"/>
                </div>
            </div>
</div>

    

</body>

</html>